{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-10 col-sm-offset-1'>
		<h2 class="text-align-center"><strong>Our history</strong></h2><hr/>
		<p class="lead text-align-center">Do you have 2 minutes? then you can learn a lot about this curious part of Eindhoven.</p>
		<p>The first building erected on Strijp-S was the Philips Physics Laboratory (NatLab), which was built in 1922. Here, leading physicians worked on 'R&D'. In 1963 the laboratory moved to the location that later developed into the now famous High Tech Campus. In the late twenties many more striking buildings were constructed leading to the expansion of the area and company. Some of them, the 'Klokgebouw', three white buildings known as the 'Hoge Rug' (1928) as well as the 'Veemgebouw' (1942), are now assigned as a national monument.</p>
		<br/>
		<p class="text-align-center">From the late sixties on, more and more Philips activities and plants moved to the High Tech Campus. Big parts of the Strijp-S district became vacant and consequently there was the threat of a huge empty space in town. Therefore ambitious plans were designed to respect and preserve the unique value of this area and yet transform it into a contemporary urban environment with homes for both residents as well as for cultural initiatives and creative economy.</p>
		<br/>
		<p class="text-align-center">We're very proud of the rebuilding of Strijp-S and we'd like to invite you to watch this gigantic process which is happening every day! You'll then see the former Philips premises changing into designers studio's, new homes or lofts. Pop concerts and cultural events like the STRP Festival or the Dutch Design Week take place in the Klokgebouw, and the earlier 'Ketelhuis' (Boilerhouse) has already transformed into a surprising restaurant. There's the Ontdekfabriek ('Discovery Factory'), where children can play with and learn about technology, and there are offices, meeting centres and galleries. Also the NatLab will soon get a new destination as a cultural centre for cinema, theatre and new media. And if you're lucky enough to be in Strijp-S on any 3rd Sunday of the month, enjoy the atmospheric FeelGood Market.</p>
		<br/>

	</div>
</div>

{% endblock %}